In [1]:
#Import Tools
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#Importing Zip Code DataSet
#ZIP_CBSA_032020.xlsx
zip_code = pd.read_excel('../data/ZIP_CBSA_032020.xlsx')
zip_code

         ZIP   CBSA  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0        501  35620        0.0        1.0        0.0        1.0
1        601  38660        1.0        1.0        1.0        1.0
2        602  10380        1.0        1.0        1.0        1.0
3        603  10380        1.0        1.0        1.0        1.0
4        604  10380        1.0        1.0        1.0        1.0
...      ...    ...        ...        ...        ...        ...
47410  99925  99999        0.0        0.0        1.0        1.0
47411  99926  99999        0.0        0.0        1.0        1.0
47412  99927  99999        0.0        0.0        1.0        1.0
47413  99928  28540        0.0        0.0        1.0        1.0
47414  99929  99999        0.0        0.0        1.0        1.0

[47415 rows x 6 columns]

In [3]:
zip_code.columns

Index(['ZIP', 'CBSA', 'RES_RATIO', 'BUS_RATIO', 'OTH_RATIO', 'TOT_RATIO'], dtype='object')

In [4]:
print(zip_code.dtypes)

ZIP            int64
CBSA           int64
RES_RATIO    float64
BUS_RATIO    float64
OTH_RATIO    float64
TOT_RATIO    float64
dtype: object