In [10]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
%matplotlib inline

In [12]:
zip_code = pd.read_excel('../data/zip/ZIP_CBSA_032020.xlsx',usecols=['ZIP','CBSA'],
    dtype={'ZIP':'str','CBSA':'str'})

In [13]:
zip_code.head()

     ZIP   CBSA
0  00501  35620
1  00601  38660
2  00602  10380
3  00603  10380
4  00604  10380