In [1]:
import pandas as pd
import numpy as np

In [25]:
ASC = pd.read_csv('provider_ASC.csv', dtype={'ZIP': 'str','npi':'str'})
ASC.head(1)

,npi,np_last_orgname,np_entity_code,np_city,np_state,p_type,place_of_service,HCPCS,hcpcs_description,unique_beneficiary,bene_day_srvc_cnt,avg_medicare_allowed,avg_medicare_pymt,ZIP
0,1003015843,"NORTHBAY PHYSICIAN'S SURGERY CENTER, L.L.C.",O,VACAVILLE,CA,Ambulatory Surgical Center,F,0191T,Internal insertion of eye fluid drainage device,11,13,3042.237692,2385.113846,95687

In [37]:
ASC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57329 entries, 0 to 57328
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   npi                   57329 non-null  object
 1   np_last_orgname       57329 non-null  object
 2   np_entity_code        57329 non-null  object
 3   np_city               57329 non-null  object
 4   np_state              57329 non-null  object
 5   p_type                57329 non-null  object
 6   place_of_service      57329 non-null  object
 7   HCPCS                 57329 non-null  object
 8   hcpcs_description     57329 non-null  object
 9   unique_beneficiary    57329 non-null  int64
 10  bene_day_srvc_cnt     57329 non-null  int64
 11  avg_medicare_allowed  57329 non-null  float64
 12  avg_medicare_pymt     57329 non-null  float64
 13  ZIP                   57329 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 6.1+ MB

In [36]:
ASC.to_csv('ASC.csv', index=False)

In [27]:
crosswalk = pd.read_csv('hcpcs_apc.csv', dtype = 'str')
crosswalk.head(1)

  hcpcs_code   APC
0      10005  5071

In [28]:
CBSA =pd.read_csv('zip_cbsa.csv', dtype='str')
CBSA.head(1)

    CBSA    zip
0  35620  00501

In [29]:
ASC_crosswalk_combined = pd.merge(ASC, crosswalk, how = 'left', left_on= 'HCPCS' , right_on ='hcpcs_code')
ASC_crosswalk_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57329 entries, 0 to 57328
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   npi                   57329 non-null  object
 1   np_last_orgname       57329 non-null  object
 2   np_entity_code        57329 non-null  object
 3   np_city               57329 non-null  object
 4   np_state              57329 non-null  object
 5   p_type                57329 non-null  object
 6   place_of_service      57329 non-null  object
 7   HCPCS                 57329 non-null  object
 8   hcpcs_description     57329 non-null  object
 9   unique_beneficiary    57329 non-null  int64
 10  bene_day_srvc_cnt     57329 non-null  int64
 11  avg_medicare_allowed  57329 non-null  float64
 12  avg_medicare_pymt     57329 non-null  float64
 13  ZIP                   57329 non-null  object
 14  hcpcs_code            56484 non-null  object
 15  APC                   56484 non-null  object
dtypes: float64(2), int64(2), object(12)
memory usage: 7.4+ MB

In [53]:
ASC_crosswalk_combined.to_csv('ASC_crosswalk_combined.csv', index=False)

In [43]:
ASC_crosswalk_CBSA = pd.merge(ASC_crosswalk_combined,CBSA, how ='left', left_on = 'ZIP', right_on = 'zip',copy=False)
ASC_crosswalk_CBSA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62815 entries, 0 to 62814
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   npi                   62815 non-null  object
 1   np_last_orgname       62815 non-null  object
 2   np_entity_code        62815 non-null  object
 3   np_city               62815 non-null  object
 4   np_state              62815 non-null  object
 5   p_type                62815 non-null  object
 6   place_of_service      62815 non-null  object
 7   HCPCS                 62815 non-null  object
 8   hcpcs_description     62815 non-null  object
 9   unique_beneficiary    62815 non-null  int64
 10  bene_day_srvc_cnt     62815 non-null  int64
 11  avg_medicare_allowed  62815 non-null  float64
 12  avg_medicare_pymt     62815 non-null  float64
 13  ZIP                   62815 non-null  object
 14  hcpcs_code            61891 non-null  object
 15  APC                   61891 non-null  object
 16  CBSA                  62815 non-null  object
 17  zip                   62815 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 9.1+ MB

In [44]:
ASC_crosswalk_CBSA[ASC_crosswalk_CBSA.np_state =='NY']

,npi,np_last_orgname,np_entity_code,np_city,np_state,p_type,place_of_service,HCPCS,hcpcs_description,unique_beneficiary,bene_day_srvc_cnt,avg_medicare_allowed,avg_medicare_pymt,ZIP,hcpcs_code,APC,CBSA,zip
2523,1033517263,ISLAND AMBULATORY SURGERY CENTER,O,BROOKLYN,NY,Ambulatory Surgical Center,F,20610,Aspiration and/or injection of large joint or ...,21,21,33.270000,24.847619,11223,20610,5441,35620,11223
2524,1033517263,ISLAND AMBULATORY SURGERY CENTER,O,BROOKLYN,NY,Ambulatory Surgical Center,F,62321,Injection of substance into spinal canal of up...,25,33,313.830000,224.302121,11223,62321,5442,35620,11223
2525,1033517263,ISLAND AMBULATORY SURGERY CENTER,O,BROOKLYN,NY,Ambulatory Surgical Center,F,62323,Injection of substance into spinal canal of lo...,196,285,313.830000,232.983789,11223,62323,5442,35620,11223
2526,1033517263,ISLAND AMBULATORY SURGERY CENTER,O,BROOKLYN,NY,Ambulatory Surgical Center,F,64483,Injections of anesthetic and/or steroid drug i...,34,53,372.278500,283.935167,11223,64483,5443,35620,11223
2527,1033517263,ISLAND AMBULATORY SURGERY CENTER,O,BROOKLYN,NY,Ambulatory Surgical Center,F,64490,Injections of upper or middle spine facet join...,32,43,340.810345,264.718793,11223,64490,5443,35620,11223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62336,1992186852,NORTHWAY SPC LLC,O,HALFMOON,NY,Ambulatory Surgical Center,F,64493,Injections of lower or sacral spine facet join...,231,446,279.575958,215.521237,12065,64493,5443,10580,12065
62337,1992186852,NORTHWAY SPC LLC,O,HALFMOON,NY,Ambulatory Surgical Center,F,64633,Destruction of upper or middle spinal facet jo...,66,108,702.630000,536.019909,12065,64633,5431,10580,12065
62338,1992186852,NORTHWAY SPC LLC,O,HALFMOON,NY,Ambulatory Surgical Center,F,64635,Destruction of lower or sacral spinal facet jo...,179,303,713.134286,553.852955,12065,64635,5431,10580,12065
62339,1992186852,NORTHWAY SPC LLC,O,HALFMOON,NY,Ambulatory Surgical Center,F,64640,Destruction of peripheral nerve or branch,62,111,59.605890,44.188447,12065,64640,5443,10580,12065
62340,1992186852,NORTHWAY SPC LLC,O,HALFMOON,NY,Ambulatory Surgical Center,F,G0260,Injection procedure for sacroiliac joint; prov...,250,345,218.557500,166.890152,12065,G0260,5442,10580,12065

In [17]:
ASC_crosswalk_combined_df =pd.DataFrame(ASC_crosswalk_combined)

In [48]:
ASC_crosswalk_CBSA.notnull().sum()

npi                     62815
np_last_orgname         62815
np_entity_code          62815
np_city                 62815
np_state                62815
p_type                  62815
place_of_service        62815
HCPCS                   62815
hcpcs_description       62815
unique_beneficiary      62815
bene_day_srvc_cnt       62815
avg_medicare_allowed    62815
avg_medicare_pymt       62815
ZIP                     62815
hcpcs_code              61891
APC                     61891
CBSA                    62815
zip                     62815
dtype: int64

In [50]:
ASC_crosswalk_CBSA_drop =ASC_crosswalk_CBSA.dropna()

In [52]:
ASC_crosswalk_CBSA_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61891 entries, 0 to 62814
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   npi                   61891 non-null  object
 1   np_last_orgname       61891 non-null  object
 2   np_entity_code        61891 non-null  object
 3   np_city               61891 non-null  object
 4   np_state              61891 non-null  object
 5   p_type                61891 non-null  object
 6   place_of_service      61891 non-null  object
 7   HCPCS                 61891 non-null  object
 8   hcpcs_description     61891 non-null  object
 9   unique_beneficiary    61891 non-null  int64
 10  bene_day_srvc_cnt     61891 non-null  int64
 11  avg_medicare_allowed  61891 non-null  float64
 12  avg_medicare_pymt     61891 non-null  float64
 13  ZIP                   61891 non-null  object
 14  hcpcs_code            61891 non-null  object
 15  APC                   61891 non-null  object
 16  CBSA                  61891 non-null  object
 17  zip                   61891 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 9.0+ MB

# Read Hospital_outpatient file without any filter