In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [16]:
%matplotlib inline

In [17]:
#read excel file and change data type for columns: zip and CBSA to string
zip_cbsa = pd.read_excel('..\data\ZIP_CBSA_032020.xlsx', dtype ={'ZIP': 'str', 'CBSA': 'str'})
zip_cbsa.head()

     ZIP   CBSA  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0  00501  35620        0.0        1.0        0.0        1.0
1  00601  38660        1.0        1.0        1.0        1.0
2  00602  10380        1.0        1.0        1.0        1.0
3  00603  10380        1.0        1.0        1.0        1.0
4  00604  10380        1.0        1.0        1.0        1.0

In [18]:
#keep columns 'ZIP' and 'CBSA' only
zip_cbsa = zip_cbsa.loc[:, ['ZIP', 'CBSA']]
zip_cbsa

         ZIP   CBSA
0      00501  35620
1      00601  38660
2      00602  10380
3      00603  10380
4      00604  10380
...      ...    ...
47410  99925  99999
47411  99926  99999
47412  99927  99999
47413  99928  28540
47414  99929  99999

[47415 rows x 2 columns]

In [19]:
zip_cbsa.shape

(47415, 2)

#find zip codes in CBSA 34980

In [20]:
zip_cbsa_34980 =zip_cbsa[zip_cbsa['CBSA']== '34980']
zip_cbsa_34980.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 157 entries, 16984 to 17990
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ZIP     157 non-null    object
 1   CBSA    157 non-null    object
dtypes: object(2)
memory usage: 3.7+ KB

In [21]:
uniq_zip_cbsa_34980 = zip_cbsa_34980['ZIP'].unique()
uniq_zip_cbsa_34980

array(['37010', '37011', '37012', '37013', '37014', '37015', '37016',
       '37018', '37020', '37022', '37024', '37025', '37026', '37027',
       '37029', '37030', '37031', '37032', '37035', '37036', '37037',
       '37043', '37046', '37048', '37049', '37051', '37052', '37055',
       '37056', '37057', '37060', '37062', '37063', '37064', '37065',
       '37066', '37067', '37068', '37069', '37070', '37071', '37072',
       '37073', '37074', '37075', '37076', '37077', '37080', '37082',
       '37083', '37085', '37086', '37087', '37088', '37089', '37090',
       '37091', '37095', '37101', '37110', '37115', '37116', '37118',
       '37119', '37121', '37122', '37127', '37128', '37129', '37130',
       '37131', '37132', '37133', '37135', '37138', '37141', '37143',
       '37145', '37146', '37148', '37149', '37150', '37151', '37152',
       '37153', '37160', '37165', '37166', '37167', '37171', '37172',
       '37174', '37179', '37180', '37181', '37184', '37186', '37187',
       '37188', '37189', '37190', '37201', '37202', '37203', '37204',
       '37205', '37206', '37207', '37208', '37209', '37210', '37211',
       '37212', '37213', '37214', '37215', '37216', '37217', '37218',
       '37219', '37220', '37221', '37222', '37224', '37227', '37228',
       '37229', '37232', '37234', '37235', '37236', '37238', '37240',
       '37242', '37243', '37246', '37250', '37357', '38401', '38402',
       '38451', '38454', '38461', '38472', '38474', '38476', '38482',
       '38483', '38487', '38547', '38548', '38552', '38560', '38563',
       '38567', '38569', '38588'], dtype=object)

In [23]:
zip_cbsa['zip'] = zip_cbsa['ZIP'].str.zfill(5)

In [33]:
zip_cbsa.drop(columns=['ZIP'])
#df.drop(columns=['B', 'C'])

        CBSA    zip
0      35620  00501
1      38660  00601
2      10380  00602
3      10380  00603
4      10380  00604
...      ...    ...
47410  99999  99925
47411  99999  99926
47412  99999  99927
47413  28540  99928
47414  99999  99929

[47415 rows x 2 columns]

In [12]:
zip_cbsa.to_csv('zip_cbsa.csv', index=False)

In [34]:
zip_cbsa_12060 =zip_cbsa[zip_cbsa['CBSA']== '12060']
zip_cbsa_12060.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 328 entries, 13321 to 18752
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ZIP     328 non-null    object
 1   CBSA    328 non-null    object
dtypes: object(2)
memory usage: 7.7+ KB

In [35]:
zip_cbsa_12060= zip_cbsa_12060['ZIP'].unique()
zip_cbsa_12060

array(['30002', '30003', '30004', '30005', '30006', '30007', '30008',
       '30009', '30010', '30011', '30012', '30013', '30014', '30015',
       '30016', '30017', '30018', '30019', '30021', '30022', '30023',
       '30024', '30025', '30028', '30030', '30031', '30032', '30033',
       '30034', '30035', '30036', '30037', '30038', '30039', '30040',
       '30041', '30042', '30043', '30044', '30045', '30046', '30047',
       '30048', '30049', '30052', '30054', '30055', '30056', '30058',
       '30060', '30061', '30062', '30063', '30064', '30065', '30066',
       '30067', '30068', '30069', '30070', '30071', '30072', '30074',
       '30075', '30076', '30077', '30078', '30079', '30080', '30081',
       '30082', '30083', '30084', '30085', '30086', '30087', '30088',
       '30090', '30091', '30092', '30093', '30094', '30095', '30096',
       '30097', '30098', '30099', '30101', '30102', '30103', '30104',
       '30106', '30107', '30108', '30109', '30110', '30111', '30112',
       '30113', '30114', '30115', '30116', '30117', '30118', '30119',
       '30120', '30121', '30122', '30123', '30126', '30127', '30132',
       '30133', '30134', '30135', '30137', '30139', '30140', '30141',
       '30142', '30143', '30144', '30145', '30146', '30148', '30150',
       '30151', '30152', '30153', '30154', '30156', '30157', '30160',
       '30161', '30168', '30169', '30170', '30171', '30175', '30176',
       '30177', '30178', '30179', '30180', '30182', '30183', '30184',
       '30185', '30187', '30188', '30189', '30204', '30205', '30206',
       '30212', '30213', '30214', '30215', '30216', '30217', '30218',
       '30220', '30222', '30223', '30224', '30228', '30229', '30230',
       '30233', '30234', '30236', '30237', '30238', '30240', '30241',
       '30248', '30250', '30251', '30252', '30253', '30256', '30257',
       '30258', '30259', '30260', '30263', '30264', '30265', '30266',
       '30268', '30269', '30271', '30272', '30273', '30274', '30275',
       '30276', '30277', '30281', '30284', '30285', '30287', '30288',
       '30289', '30290', '30291', '30292', '30293', '30294', '30295',
       '30296', '30297', '30298', '30301', '30302', '30303', '30304',
       '30305', '30306', '30307', '30308', '30309', '30310', '30311',
       '30312', '30313', '30314', '30315', '30316', '30317', '30318',
       '30319', '30320', '30321', '30322', '30324', '30325', '30326',
       '30327', '30328', '30329', '30331', '30332', '30333', '30334',
       '30336', '30337', '30338', '30339', '30340', '30341', '30342',
       '30343', '30344', '30345', '30346', '30349', '30350', '30354',
       '30355', '30356', '30357', '30358', '30359', '30360', '30361',
       '30362', '30363', '30364', '30366', '30368', '30369', '30377',
       '30378', '30380', '30385', '30388', '30396', '30398', '30506',
       '30515', '30517', '30518', '30519', '30533', '30534', '30536',
       '30540', '30548', '30620', '30621', '30622', '30623', '30625',
       '30641', '30642', '30650', '30655', '30656', '30663', '30666',
       '30680', '30734', '30747', '31016', '31024', '31029', '31038',
       '31064', '31085', '31097', '31106', '31107', '31119', '31126',
       '31131', '31136', '31139', '31141', '31145', '31146', '31150',
       '31156', '31169', '31816', '31822', '31830', '39901'], dtype=object)